


#main-contents{
    background-image: url(assets/images/wormz.png);

}
p{
color: rgb(52, 158, 20);

}
#crystalTitle{

    font-size: 38px;
    background: rgb(209, 116, 83);
    color: whitesmoke;
    font-weight: 100%;
    padding: 20px 0 20px 0px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    border-radius:10px;
    font-family: 'Georgia',Times,Times New Roman,serif;
    
}
#instruction{
    background: rgb(247, 229, 198);
    margin: 20px 0 0 20px;
    padding: 30px;
    text-align: auto;
    border-radius: 15px;
    color: rgb(71, 65, 65);
    border-radius:10px;

}

#targetNum {
    background: rgb(118, 177, 118);
    padding-bottom: 60px;
    padding-right: 50px;
    margin-left: 20px;
    font-size: 38px;
    color: rgb(109, 3, 3);
    font-weight: 500px;
    border-radius:10px;

}
#WinLoss{
    background: rgb(156, 193, 235);
    padding-bottom: 60px;
    padding-top: 10px;
    margin-right: 50px;
    margin-left: 30px;
    border-radius:10px; 
}
#crystals {
    clear: both;
    overflow: auto;    
}

img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 10px;
}
#userScoreText{
    background: #4aaaa5;
    margin-left: 20px;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-radius:10px;
    text-align: justify;
    color: white;
}
#totalScore{
    background: #4aaaa5;
    padding-bottom: 60px;
    padding-right: 50px;
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
    border-radius:10px;
    font-size: 38px;
    color: white;
}
